.edit__stock__container {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  background-color: #0274c01b;
  min-height: 500px;
}
#edited__drug {
  margin-top: 3rem;
  background-color: white;
  font-size: small;
  text-align: center;
  border-color: rgb(145, 227, 255);
}
.drug_render {
  margin-top: 4rem;
  font-size: small;
}
.drug_render_headings {
  display: grid;
  grid-template-columns: 1fr 100px 88px;
  gap: 12px;
  margin: 1rem 0;
  padding: 0.3rem;
  border-bottom: 0.2px solid black;
  font-weight: bold;
  font-variant: small-caps;
}
.drug_render_list {
  height: 400px;
  overflow: auto;
}
.drug_render_item {
  display: grid;
  grid-template-columns: 1fr 90px 88px;
  gap: 12px;
  place-items: center;
  background-color: #0274c0;
  padding: 0.5rem;
  cursor: pointer;
  transform: translateY(0);
  animation: slide-down 2s ease;
  color: white;
  border: 0.1px solid white;
}
.drug_render_item:nth-child(odd) {
  background-color: #0274c0;
}
.drug_render_item:hover,
.drug_render_item:active {
  border: 0.1px solid #3ff78f;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
@keyframes slide-down {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.search__data input {
  border: 0.1px solid black;
  border-radius: 5px;
  text-transform: capitalize;
  padding: 0.8rem;
  width: 90%;
  outline: none;
}

/* edit form */
.edit {
  top: 5%;
  width: 100%;
  height: 90%;
  position: absolute;
  background-color: #eefbfc;
  padding: 10px;
  overflow: auto;
}
.edit input,
.edit select {
  outline-color: rgb(128, 198, 255);
}
.add_category {
  outline: none;
  color: grey;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.add_category:hover,
.add_category:active {
  color: #3ff78f;
}
/* edit form */
.edit_form {
  height: 60%;
  display: grid;
  row-gap: 30px;
  font-size: small;
}
/* edit form components */
.edit_form_title {
  font-size: larger;
  font-weight: 100;
  text-transform: uppercase;
}
.product {
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
}
.product_category {
  display: grid;
  grid-template-columns: auto auto 40px;
  text-align: left;
}

.product_quantity {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 10px;
  place-items: center;
}
.product_quantity input {
  width: 100px;
  height: 40px;
}
.manufacturer_info {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
}
.manufacturer_info input {
  height: 40px;
}
/* category container */
.new_category {
  z-index: 2;
  top: 40%;
  position: fixed;
  width: 100%;
  background-color: #eeeeee;
  padding: 30px;
  min-width: 400px;
  font-size: small;
}
.category {
  width: 150px;
}
.remove_category {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #f60a55;
}
.category_ctn {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}
.new_category input {
  outline-color: rgb(63, 247, 143);
}
.category {
  padding: 5px;
}
.new_category button {
  outline: none;
  color: white;
  border: none;
  padding: 7px;
  cursor: pointer;
}
.category_added {
  background-color: rgb(63, 247, 143);
}
.remove_category:hover,
.remove_category:active {
  color: #f60a55;
  background-color: white;
}
.category_added:hover,
.category_added:active {
  color: rgb(63, 247, 143);
  background-color: white;
}

/* interaction container */
.interaction_container {
  /* margin: 1rem 0; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.interaction_container button {
  width: 60%;
  color: white;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.cancel_button {
  background-color: rgb(255, 51, 51);
}
.cancel_button:hover,
.cancel_button:active {
  background-color: white;
  color: rgb(255, 51, 51);
}
.edit_button {
  background-color: #3ff78f;
}
.edit_button:disabled {
  background-color: grey;
}
.edit_button:disabled:hover {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}
.edit_button:hover,
.edit_button:active {
  background-color: white;
  color: #3ff78f;
}

.edited {
  border: 1px solid#3ff78f;
}
@media (min-width: 40rem) {
  .new_category {
    width: 80%;
  }
}
