<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharma App</title>
    
    <link rel="stylesheet" href="/css/inventory/add-product.css" />
     <link rel="stylesheet" href="/css/shared/log-shared.css" />
     <link rel="stylesheet" href="/css/shared/shared.css" />
    <script defer src="/client-side/styles/styles.js"></script>
    <script defer type="module" src="/client-side/user/userShared.js"></script>
    <script defer type="module" src="/client-side/user/addProduct.js"></script>
  </head>
  <body>
      <div class="backdrop"></div>
    {{>log_header}}
    {{>loader}}
    <main>
    
      <div class="container">
        {{>notification}}
        {{>profile}}
       
        <div class="stock__inventory__container">
             {{>site}}
              <div class=" no_display new_category">
                <div class="category_ctn">
                  <label for="new_category">New Category :</label>
                  <input id="new_category" type="text" class="category">
                  <button class="remove_category">X</button>
                  <button class="category_added">Add category</button>
                </div>
              </div>
          <form id="add_new_stock" method="post">
           
                
            <div class="product_information">
              <div class="product__form__title">
                <p>Provide the new product information</p>
              </div>
                <p class="product_title">Product Information</p>

                
              <div class="product_name">
                   <label for="product_name">Name:</label>
                   <div class="product">
                    <input autocomplete="product" id="product_name" type="text" name="name" placeholder="Product Name" required autofocus>
                    <span class="product_example">E.g Tab Haloperidol 5mg or Tab Risperidone (Risperdal) 2mg  </span>
                   </div>    
              </div>
               <div class="product_categories">
                <label for="product_category">Product Category:</label>
                
               <select id="product_category" name="productCategory">
                  {{#each categories}}
                <option value="{{category}}">{{category}}</option>
                  {{else}}
                      <option value="none" >There is no Category</option> 
                  {{/each}}   
               </select>
               
               
               <button class="add_category">Add</button>

              </div>
              
              <div class="product_quantity_ctn">
                <p>Product Quantity Information</p>
                <div class="product_quantity">
                  <label for="unit_issue">Unit Issue</label>
                  <label for="pack_size">Pack size</label>
                  <label for="quantity">Quantity</label>
                  <label for="minimum Quantity">Minimum quantity</label>
                  <input id="unit_issue" type="number" name="unitOfIssue" min="1" placeholder="Unit of issue" required>
                  <input id="pack_size" type="number" name="packSize" min="1" placeholder="Pack size"  required>
                  <input  id="quantity" type="number" name="quantity"   placeholder="Quantity"  required>
                  <input id="minimum Quantity"  type="number" name="minimumQuantity"   placeholder="Quantity"  required>
                </div>
              </div>
                <div class="manufacturer_ctn">
                  <p class="manufacturer_information">Manufacturer Information</p>
                <div class="info"> 
              <label for="price">Product price</label>
              <label for="fg_price">Product Fg price</label>
              <label for="expiry_date">Expiry date</label>
              <input id="price" type="text" name="costPrice" placeholder="Price" required >
              <input id="fg_price" type="text" name="fgPrice" placeholder="Nhia Cost Price"  >
                <input id="expiry_date" type="month" name="expiryDate" placeholder="EXPIRY DATE" required >
            </div>
                </div>
              <div class="action__container">
                <input type="reset" class="cancel_btn" value="CANCEL">
                <input type="submit" class="add_btn" value="ADD NEW DRUG">
              </div>
          </form>
      
        </div>
      </div>
    </main>
    {{>footer}}
  </body>
</html>
