<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharma App</title>
    
    <link rel="stylesheet" href="/css/inventory/add_stock.css" />
     <link rel="stylesheet" href="/css/shared/log_shared.css" />
     <link rel="stylesheet" href="/css/shared/shared.css" />
    <script defer src="/client-side/styles/styles.js"></script>
    <script defer type="module" src="/client-side/user/user_shared.js"></script>
    <script defer type="module" src="/client-side/user/add_stock.js"></script>
  </head>
  <body>
    {{>log_header}}
    {{>loader}}
    <main>
      <div class="backdrop"></div>
      <div class="container">
        {{>notification}}
        {{>profile}}
       
        <div class="stock__inventory__container">
             {{>site}}
            <form id="add_new_stock" method="post">
              <div class="drug__form__title">
                <p>Provide the new drug information</p>
              </div>
              
                
            <div class="main_drug__components">
              <div class="stock__drug">
                <label for="dosage_type">DRUG TYPE</label>
               <select name="drug_type" required>
                <option value="Tablet">Tablet</option>
                <option value="Capsule">Capsule</option>
                <option value="Suspension">Suspension</option>
                <option value="Syrup">Syrups</option>
                <option value="Injectable">Injection</option>
                <option value="Consumable">Consumable</option>
               </select>
              </div>
            <div class="main__drug">
              <div class="stock__drug">
                <label for="brand"> NAME </label>
                <input type="text" name="name" placeholder="NAME OR BRAND NAME" required>
              </div>
              <div class="stock__drug non-compatitible">
                <label for="">GENERIC NAME </label>
                <input type="text" name="generic_name" placeholder="GENERIC NAME" >
              </div>
              
             
            </div>
            <div class="manufacturer__information"> 
              <div class="stock__drug ">
                <label for="manufacturer">MANUFACTURER NAME</label>
                <input type="text" name="manufacturer_name" placeholder="MANUFACTURER" >
              </div>
               <div class="stock__drug non-compatitible">
                <label for="strength">STRENGTH</label>
                <input type="text" name="strength" placeholder="STRENGTH E.G 80MG OR 80MG/480MG">
              </div>
              <div class="stock__drug">
                <label for="cost_price">COST PRICE</label>
                <input type="number" name="cost_price" placeholder="PRICE" required >
              </div>
              <div class="stock__drug">
                <label for="quantity">QUANTITY</label>
                <input type="number" name="quantity"  placeholder="QUANTITY" required>
              </div>
              </div>
              <div class="stock__drug">
                <label for="expiry_date">EXPIRY DATE</label>
                <input type="date" name="expiry_date" placeholder="EXPIRY DATE" required >
              </div>
              
              <div class="action__container">
                <input type="reset" class="cancel_btn" value="CANCEL">
                <input type="submit" class="add_btn" value="ADD NEW DRUG">
              </div>
            </form>
      
        </div>
      </div>
    </main>
    {{>footer}}
  </body>
</html>