<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharma App Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard/dashboard.css" />
      <link rel="stylesheet" href="/css/shared/log_shared.css">
      <link rel="stylesheet" href="/css/shared/shared.css" />
    
    <script defer src="/client-side/styles/styles.js"></script>
    <script defer type="module" src="/client-side/user/user_shared.js"></script>
  </head>
  <body>
    <div class="backdrop"></div>
    <header>
      {{>log_header}}
      
    </header>
    <main>
      
      <div class="container">
        {{>profile}}

        <div class="homepage__features container__item">
          {{>site}}
          <div class="overview__container">
            <h2 class="features__overview">Overview</h2>
            <h4 class="user__display_name">
            </h4>
          </div>

          <div class="sales__display_dashboard dashboard__inputs">
            <div class="user__drug-sales">

            </div>
          </div>

          <div class="drug__notice-display dashboard__inputs">
          </div>
          <div class="patient__activity-display dashboard__inputs">

          </div>

        </div>
      </div>
    </main>
 {{>footer}}
  </body>


</html>