<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharma App</title>
    
     <link rel="stylesheet" href="/css/inventory/delete-product.css" /> 
     <link rel="stylesheet" href="/css/shared/log-shared.css" />
     <link rel="stylesheet" href="/css/shared/shared.css" />
    <script defer src="/client-side/styles/styles.js"></script>
    <script defer type="module" src="/client-side/user/userShared.js"></script>
    <script defer type="module" src="/client-side/user/deleteProduct.js"></script>
  </head>
  <body>
    {{>log_header}}
    <div class="backdrop"></div>
    <main>
      {{>notification}}
      
      
      <div class="container">
        {{>profile}}
        <div class="delete__stock-container">
          {{>site}}
          <div class="modal__window">
        <div class="modal__message">
          <p>Do you want to delete the drug permanently?</p>
        </div>
            <div class="delete">
              <span class="delete__drug remove"></span>
              <button class="no_button">No</button>
              <button class="yes_button">Yes</button>
            </div>
          </div>
            <div class="interaction__chamber">
                <input type="search" name="name" id="search" placeholder="item name" autofocus autocomplete="cc-name">
                 
                
            </div>
            <div class="drugs__body__container">
                <div class="drug_elements">
                    <div class="items__body__container">
                        <div class=" item__container drug__headings">
                              <div class="item__heading"> Item Name</div>
                              <div class="item__heading"> Qty</div>
                              <div class="item__heading"> Price</div>
                              <div class="item__heading">Expiry Date</div>
                            <span></span>
                        </div>
                        <div class="main__items">
                             
                        </div>
                    </div>
                </div>
                        
                    </div>
        </div>
        </div>
    </main>
     {{>footer}}
  </body>
</html>