<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharma App</title>
    <link rel="stylesheet" href="/css/inventory/edit_stock.css" />
    <link rel="stylesheet" href="/css/shared/log_shared.css" />
    <link rel="stylesheet" href="/css/shared/shared.css" />
    <script defer src="/client-side/styles/styles.js"></script>
    <script defer type="module" src="/client-side/user/user_shared.js"></script>
    <script defer type="module" src="/client-side/user/edit_stock.js"></script>
  </head>
  <body>
    <div class="backdrop"></div>
    {{>log_header}}
    <main>
      {{>notification}}
      
      <div class="container">
        {{>profile}}
        <div class="edit__stock__container">
          {{>site}}
          <div class=" no_display new_category">
                <div class="category_ctn">
                  <label for="new_category">New Category :</label>
                  <input id="new_category" type="text" class="category">
                  <button class="remove_category">X</button>
                  <button class="category_added">Add category</button>
                </div>
              </div>

          
            <div class="search__data">
              <input
                type="search"
                id="edited__drug"
                placeholder="SEARCH PRODUCT NAME"
                autofocus
              />
            </div>
            <div class="drug_render">
              <div class="drug_render_headings">
                <div class="drug_detail-heading"> Item Name</div>
                <div class="drug_quantity-heading"> Qty</div>
                <div class="drug_expiry-heading"> Expiry Date</div>
              </div>
              <div class="drug_render_list">
                

              </div>
            </div>
          <div class="edit no_display">
            <h4  class="edit_form_title">Edit Product Information</h4>
            <form  method="post" class="edit_form">
            {{!-- <p class="item_title">Product Information </p> --}}
              <div class="product"> 
                      <label for="name">Name </label>
                      <input autocomplete="additional-name" placeholder="NAME" type="text" id="name" name="name">
              </div>
              <div class="product_category">
                    <label for="product_category">Category </label>
                    <select name="product_category" id="product_category">
                      {{#each categories }}
                    <option value="{{category}}">{{category}}</option>
                    {{else}}
                    <option value="None">No category</option>
                    {{/each}}
                    </select>
                    <button class="add_category">Add</button>
              </div>
            
                
            <div class="product_quantity_ctn">
             
              <div class="product_quantity">
                    <label for="unit_of_issue">Unit of issue</label>
                    <label for="pack_size">Pack size</label>
                    <label for="quantity">Quantity</label>
                    <label for="minimum_quantity">Minimum Quantity</label>
                    <input type="text"  placeholder="unit of issue" id="unit_of_issue">
                    <input name="pack_size"  placeholder="Pack size" type="number" id="pack_size" min="0" >
                    <input name="quantity"  placeholder="Quantity" type="number" id="quantity" min="0" >
                    <input name="minimum_quantity"  placeholder="Minimum Quantity" type="number" id="minimum_quantity" min="0" >
                    <span class="element_id no_display"></span>
              </div>
             </div>
              
              <div class="manufacturer_ctn">
                
                <div class="manufacturer_info">
                   <label for="cost_price">Product Cost Price</label>
                   <label for="fg_price">Product Fg Cost Price</label>
                    <label for="expiry_date">Expiry Date</label>
                    <input type="text" name="cost_price" id="cost_price" placeholder="Cost price" min="1">
                    <input type="text" name="fg_price" id="fg_price" placeholder="Fg price" min="1">
                    <input type="date" id="expiry_date" name="expiry_date">
                </div>
                   
              </div>
                   

            <div class="interaction_container">
              <button class="cancel_button">CANCEL</button>
              <button class="edit_button">SAVE</button>
            </div>
            </form>
          </div>

        </div>
      </div>
    </main>
    {{>footer}}
  </body>
  
</html>