<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharma App</title>
     <link rel="stylesheet" href="/css/shared/log-shared.css" />
     <link rel="stylesheet" href="/css/shared/shared.css" />
     <script defer type="module" src="/client-side/user/userShared.js"></script>
    <script defer src="/client-side/styles/styles.js"></script>
  </head>
  <body>
    {{>log_header}}
    <main>
      <div class="backdrop"></div>

      <div class="container">
        {{>profile}}
        <div class="edit_product_sales__container">
          
        </div>
      </div>
    </main>
    {{>footer}}
  </body>