<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharma App</title>
    <link rel="stylesheet" href="/css/inventory/edit_stock.css" />
    <link rel="stylesheet" href="/css/shared/log_shared.css" />
    <link rel="stylesheet" href="/css/shared/shared.css" />
    <script defer src="/client-side/styles/styles.js"></script>
    <script defer type="module" src="/client-side/user/user_shared.js"></script>
    <script defer type="module" src="/client-side/user/edit_stock.js"></script>
  </head>
  <body>
    {{>log_header}}
    <main>
      {{>notification}}
      <div class="backdrop"></div>
      <div class="container">
        {{>profile}}
        <div class="edit__stock__container">
          {{>site}}

          <form method="post" class="data__information">
            <div class="search__data">
              <input
                type="search"
                id="edited__drug"
                placeholder="SEARCH ITEM NAME"
              />
            </div>
            <div class="drug_render">
              <div class="drug_render_headings">
                <div class="drug_detail-heading"> Item Name</div>
                <div class="drug_quantity-heading"> Qty</div>
                <div class="drug_expiry-heading"> Expiry Date</div>
              </div>
              <div class="drug_render_list">
                {{! <div class="drug_render_item">
                    <div class="drug_details">TAB. CHLORPHENIRAMINE 4MG</div>
                    <div class="drug_quantity">200</div>
                    <div class="drug_expiry_date">02/24</div>
                    <div class="drug_id no_display"></div>
                  </div>
                  <div class="drug_render_item">
                    <div class="drug_details">TAB. RISPERDAL 3MG</div>
                    <div class="drug_quantity">400</div>
                    <div class="drug_expiry_date">03/24</div>
                    <div class="drug_id no_display"></div>
                  </div> }}

              </div>
            </div>
          </form>
          <div class="edit__form no_display">
            <form  method="post">
            <h4 class="item_title">Item Information </h4>
            
              <div class="item__information item_type">
                    <label for="drug_dosage">item type :</label>
                    <select name="drug_type" id="edited_drug_type">
                    <option value="CAPSULE">CAPSULE</option>
                    <option value="TABLET">TABLET</option>
                    <option value="INJECTION">INJECTION</option>
                    <option value="CONSUMABLE">CONSUMABLE</option>
                    <option value="SYRUP">SYRUP</option>
                    <option value="SUSPENSION">SUSPENSION</option>
                    </select>
              </div>
              <div class="item__information item_name"> 
                      <label for="name">item name :</label>
                      <input placeholder="NAME" type="text" id="name">
              </div>
                <div class="item__information item_strength">
                    <label for="strength">strength:</label>
                    <input type="text" placeholder="STRENGTH" id="drug__strength">
                </div>
            <div class="item_details">
              <div class="item_detail">
                    <label for="quantity">QUANTITY</label>
                    <input name="quantity" placeholder="QUANTITY" type="number" id="quantity" >
                    <span class="element_id no_display"></span>
                  </div>
               <div class="item_detail">
                    <label for="price">ITEM PRICE</label>
                    <input type="number" name="cost_price" id="cost__price" placeholder="NEW COST PRICE" min="1">
                    <input type="number" id="selling__price" placeholder="SELLING PRICE" readonly>
               </div>
                <div class="item_detail">
                    <label for="manufacturer">MANUFACTURER</label>
                    <input type="text" id="manufacturer" placeholder="MANUFACTURER NAME" readonly>
                </div>
                <div class="item_detail" >
                    <label for="expiry_date">EXPIRY DATE</label>
                    <input type="date" id="drug_expiry_date" name="expiry_date">
                </div>
            </div>
            <div class="interaction_container">
              <button class="cancel_button">CANCEL</button>
              <button class="edit_button">SAVE</button>
            </div>
            </form>
          </div>

        </div>
      </div>
    </main>
    {{! <a href="https://www.flaticon.com/free-icons/edit" title="edit icons">Edit icons created by Kiranshastry - Flaticon</a> }}
    {{>footer}}
  </body>
  {{! <form  method="post" class="edited_post no_display">
              <h4 class="form__heading">Item Information</h4>
                <div class="drug__information">
                  
                  <div>
                      <label for="name">ITEM NAME</label>
                      <input placeholder="NAME" type="text" id="name" readonly>
                  </div>
                  <div>
                    <label for="strength">STRENGTH</label>
                    <input type="text" placeholder="STRENGTH" id="drug__strength" readonly>
                    <span class="no_display" id="element-id"></span>
                  </div>
                  <div>
                    <label for="price">PRICE</label>
                    <input type="number" name="cost_price" id="cost__price" placeholder="NEW COST PRICE" min="1">
                    <input type="number" id="selling__price" placeholder="SELLING PRICE" readonly>
                  </div>
                  <div >
                    <label for="quantity">QUANTITY</label>
                    <input name="quantity" placeholder="QUANTITY" type="number" id="quantity" readonly>
                    <input type="number" id="added__quantity" placeholder="ADDED QUANTITY" min="1">
                  </div>
                  <div>
                    <label for="manufacturer">MANUFACTURER NAME</label>
                    <input type="text" id="manufacturer" placeholder="MANUFACTURER NAME" readonly>
                  </div>
                  <div>
                    <label for="expiry_date">EXPIRY DATE</label>
                    <input type="date" id="drug_expiry_date" name="expiry_date">
                  </div>
            </form> }}
</html>