<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharma App login</title>
    <link rel="stylesheet" href="/css/shared/shared.css" />
    <link rel="stylesheet" href="/css/login/login.css" />
    <script defer src="/client-side/styles/styles.js"></script>
    <script type="module" defer src="/client-side/auth/login.js"></script>
  </head>
  <body>
    {{>loader}}
    
    <header>
      <div class="toggle__navbar">
        <ul class="nav__toggle-items">
          <li class="nav__toggle-item">
            <a href="/pharma_app/register" class="toggle__nav-link">
              Sign Up</a>
          </li>
          <li class="nav__toggle-item">
            <a href="/" class="toggle__nav-link">About</a>
          </li>
          <li class="nav__toggle-item">
            <a href="/" class="toggle__nav-link">Contact</a>
          </li>
        </ul>
      </div>
      <nav class="navbar">
        <button class="navbar__toggle-button" aria-pressed="false">
          <span aria-hidden="true" class="navbar__toggle"></span>
          <span aria-hidden="true" class="navbar__toggle"></span>
          <span aria-hidden="true" class="navbar__toggle"></span>
        </button>
        <a href="/" class="navbar__title">PHARMA APP</a>
        <ul class="nav__items-items">
          <li class="nav__items-item">
            <a href="/pharma_app/register" class="nav__item-link">Sign Up</a>
          </li>
          <li class="nav__items-item">
            <a href="#" class="nav__item-link">Contact</a>
          </li>
          <li class="nav__items-item">
            <a href="#" class="nav__item-link">About</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="backdrop"></div>
       
      <div class="signin__container">
        <div class="signin__form">
          <h3>Pharma App login</h3>
          <a href="/pharma_app/register" class="register__link">Not A User
            ?
            <span> Sign Up</span></a>
           <div class="notification__message"></div>
            <p>please select a location and unit.</p>
          <form class="signin" method="post">
           
            {{!-- <div class="error_label"></div> --}}
             <div class="sigin__select">
              <select name="location" id="location" required>
                <option value="">LOCATION</option>
                <option value="uselu">USELU</option>
                <option value="Iduomwinna">IDU</option>
              </select>
              <select name="pharmacy_unit" id="pharmacy_unit" required>
                <option value="">PHARMACY UNIT</option>
                <option value="out-patient">OPD</option>
                <option value="in-patient">IN-PATIENT</option>
                <option value="general medical services">GMS</option>
                <option value=" pharmacy store">STORE</option>
              </select>
            </div>
            <div class="signin__input">
              <input
                autofocus
                type="text"
                name="username"
                id="signin_username"
                placeholder="USERNAME"
                required
              />
            </div>
            <div class="signin__input">
              <input
                type="password"
                name="password"
                id="signin_password"
                placeholder="PASSWORD"
                required
              />
            </div>
           
            <input type="submit" value="Login" class="submit" />
          </form>
        </div>

      </div>
    </main>
  {{>footer}}
  </body>
</html>