<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharma App</title>
    <link rel="stylesheet" href="/css/drug_services/prescription-validation.css" />
    <link rel="stylesheet" href="/css/shared/log-shared.css" />
     <link rel="stylesheet" href="/css/shared/shared.css" />
    <script defer src="/client-side/styles/styles.js"></script>
    <script defer type="module" src="/client-side/user/userShared.js"></script>
    <script type="module" defer src="/client-side/user/prescriptionValidation.js"></script> 
  </head>
  <body>
     {{>loader}}
      {{>log_header}}
      <div class="backdrop"></div>
    <main>
      <div class="container">

        {{>profile}}
         {{>notification}}
         {{!-- O/S CTN AND DTPs CTN --}}
         
         {{!-- Hold tab --}}
          <div class="hold_container no_display">
           
            <button class="remove_list">
              <span class="cancel_stick"></span>
              <span class="cancel_stick"></span>
            </button>
            <div class="prescription_list">
              <span class="hold_ctn_title">
                Held Sales
              </span>
              <div class="main_list">
                
              </div>
            </div>
          </div>
         
        <div class="prescription__validation">
          {{>site}}
          {{!-- OS DTPS --}}
          <div class="os_dtps no_display">
             <h5 class="os_dtps_title">OUT OF STOCK AND DRUG THERAPY PROBLEM</h5>
            <div class="sub_os_dtps">
              <div class="os_ctn">
                <h6 class="os_ctn_title">OUT OF STOCK</h6>
            <div class="os_sub_ctn">
              
              <input type="text" name="out_of_stock" id="out_of_stock" placeholder="Add Product Name">
            <span class="os_hint"> E.g Tab. Vidalgptin 50mg</span>
            <button class="submit_os_btn">submit</button>
            </div>
            
            <button class="close_os_dtps">
              <span class="cancel_stick"></span>
              <span class="cancel_stick"></span>
            </button>
          </div>
          <div class="dtps_ctn">
            <h6 class="dtps_ctn_title">DRUG THERAPY PROBLEM</h6>
            <div class="patient dtp_structure">
              <label for="dtp_patient_search">Patient</label>
              <div class="dtp_patient">UNREGISTERED</div>
            </div>
            <div class="dtp dtp_structure">
              <label for="dtp_selected">Dtp </label>
              <select name="dtp_selected" id="dtp_selected">
                <option value="Unneccessary drug therapy">Unneccessary drug therapy</option>
                <option value="Wrong drug">Wrong drug</option>
                <option value="Dose too low">Dose too low</option>
                <option value="Dose too high">Dose too high</option>
                <option value="Adverse drug reaction">Adverse drug reaction</option>
                <option value="Inappropriate adherence">Inappropriate adherence</option>
                <option value="Needs additional drug therapy">Needs additional drug therapy</option>
              </select>
            </div>
            <div class="intervention dtp_structure">
              <label for="dtp_intervention">
               Dtp intervention
              </label>
              <textarea name="intervention" id="dtp_intervention" cols="25" rows="10" placeholder="Enter Text here"></textarea>
               
            </div>
            <div class="submit_dtp_ctn">
              <button class="submit_dtp">Submit</button>
            </div>

          </div>
            </div>
           
          
          
         </div>
          {{!-- Prescription Tab  --}}
          <div class="sale_ctn no_display">
            <div class="sale_tab">
              <div class="patient_tab">
              <div class="patient_detail">
                <div class="patient_detail_title"></div>
              <button class="remove_sale_tab">
                <span class="cancel_stick"></span>
                <span class="cancel_stick"></span>
              </button>
              </div>
            </div>
            <div class="save_tab">
              <input type="text" id="sale_receipt"  class="sale_receipt" placeholder="Enter Receipt Number" maxlength="6" pattern="^[0-9]*$">
              <span >Input Last 6 digits in the Receipt</span>
              <button class="save_purchase">Save Purchase</button>
            </div>
            </div>
          </div>
          <div class="patient_display no_display">
            <button class="display_cancel_btn">
              <span class="cancel_stick"></span>
              <span class="cancel_stick"></span>
              <span class="button_info">Remove Patient</span>
            </button>
            <div class="patient_display_name">
            </div>
            <div class="patient_display_contact">
            </div>
            <div class="patient_display_id no_display"></div>
          </div>
          {{!-- Patient Profile --}}
          <div class="patient_profile no_display">
              <div class="main_patient_profile">
                  <div class="profile_title">
                  PATIENT INFORMATION
                  </div>
            <div class="search_render_ctn">
                <input autofocus type="text" class="patient_search" name="name" autocomplete="on" placeholder="Search patient name or file number">
                  <button class="add_patient">New Patient</button>
                  <button class="remove_patient_profile">
                      <span class="cancel_stick"></span>
                      <span class="cancel_stick"></span>
                  </button>
                  <div class="render_patient_searched">
                    <div class="patient_list_headings">
                      <div>Patient Name</div>
                      <div>File Number</div>
                    </div>
                    <div class="patient_list">
                    </div>
                  </div>
          </div>
            <div class="add_patient_ctn ">
              <div class="add_patient_title">
                 NEW PATIENT INFORMATION
              </div>
              <span>All * boxes should be entered</span>
              <button class="remove_ctn">
                  <span class="cancel_stick"></span>
              <span class="cancel_stick"></span>
              </button>
              
              <form id="main_ctn" method="post">
                <div class="min_ctn">
                   <div class="patient_name input_ctn">
                <label for="name">Full Name* </label>
                <input class="add_input" id="name" type="text" name="name" autocomplete="on" required >
              </div>
              <div class="file_number input_ctn">
                <label for="file_number">File Number* </label>
                <input class="add_input" id="file_number" type="text" name="fileNumber" autocomplete="on" required >
              </div>
              <div class="patient_contact input_ctn">
                <label for="contact">Contact </label>
                <input class="add_input" id="contact" type="tel" name="contact"pattern="^[0-9]*$" size="11" autocomplete="on" >
              </div>
              <div class="patient_sex input_ctn">
                <label for="sex">Sex* </label>
                <select name="sex" id="sex" required>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
                
              </div>
                </div>
              <button class="add_new_patient">ADD PATIENT</button>
              </div>
            </form>
            <div class="patient_display_ctn">
            </div>
          </div>
          </div>
          <div class="search__container">
            <input autofocus class="search__input" type="text" name="product" id="product" placeholder="search product name" autocomplete="on">
            <button class="patient_container">👤
              <span class="patient_container_info container_info">
                PATIENT
              </span>
            </button>
            <button class="os_and_dtp_container">🗃️
              <span class="os_and_dtp_container_info container_info">
                O/S AND DTPs
              </span>
            </button>
            <div class="search_render_tab no_display">
              <div class="render_list_headings render_structure">
                <div>
                  Product Name
                </div>
                <div>
                  Product Price
                </div>
                <div>
                  Product Qty
                </div>
                <div>
                  Product Expiry
                </div>
              </div>
              <div class="render_list">
               
              </div>
            </div>
          </div>
          <fieldset class="pricing_system">
            <legend> Pricing System</legend>
            <div class="pricing_unit">
              <input type="radio" name="pricing" id="normal" value="NORMAL" checked>
            <label for="normal">NORMAL</label> 
            </div>
            <div class="pricing_unit">
              <input type="radio" name="pricing" id="nhis" value="NHIA">
            <label for="nhis">NHIA</label> 
            </div>
            <div class="pricing_unit">
               <input type="radio" name="pricing" id="nnpc" value="NNPC">
             <label for="nnpc">NNPC</label>
            </div>
          </fieldset>
          <div class="render__container">
            <div class="product_headings product_structure">
              <div >Product Name</div>
              <div>Qty</div>
              <div>Price</div>
              <div>Ext Price</div>
            </div>
            <div class="product_list">
              <div class="empty_list">
                <div>Add a Product</div>
                
              </div>
             
            </div>
             <div class="drug_interaction_ctn">
              
              <h5>Potential Drug Interactions</h5>
               <button class="check_interaction">Check Interaction</button>
                <div class="interactions">
                  <div class="interaction_item">No interaction Found Yet.</div>
                  
                </div>
                 <div class="disclamier">DrugBank is intended for educational and scientific research purposes only and you expressly acknowledge and agree that use of DrugBank is at your sole risk. The accuracy of DrugBank information is not guaranteed and reliance on DrugBank shall be at your sole risk. DrugBank is not intended as a substitute for professional medical advice, diagnosis or treatment.</div>
            </div>
            <div class="product_sales_information">
              <div class="product_sales_content">
                <div class="number_products_sold_title">No of products sold</div>
                <div class="number_products_sold">0</div>
              </div>
              <div class="product_sales_content">
                <div class="qty_products_sold_title">products sold</div>
                <div class="qty_products_sold">0</div>
              </div>
              <div class="product_sales_content">
                <div class="products_total_title">Total</div>
                <div class="products_total_amount">0</div>
              </div>
             
              <div class="interaction_ctn">
              <button class="hold_sales">Held Sale</button>
              <button class="send_sales">Make Sale</button>
            </div>
             
            </div>
           
             
            
           

          </div>
          
         
    </main>
    {{>footer}}
  </body>
 
</html>