<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharma App</title>
    <link rel="stylesheet" href="/css/drug_services/prescription_validation.css" />
    <link rel="stylesheet" href="/css/shared/log_shared.css" />
     <link rel="stylesheet" href="/css/shared/shared.css" />
    <script defer src="/client-side/styles/styles.js"></script>
    <script defer src="/client-side/user/user_shared.js"></script>
    <script defer src="/client-side/user/prescription_validation.js"></script> 
  </head>
  <body>
      {{>log_header}}
    <main>
      <div class="backdrop"></div>
      <div class="container">
        {{>profile}}
        <div class="prescription__validation">
          {{>site}}
          <div class="validation__container">
            <div class="patient__drug_container">
              <div class="add__search__patient">
                <input type="search" class="search__patient" placeholder="Search Patient">
                <button>+ Add patient</button>
                <div class="add__new-patient no_display">
                    <form action="">
                        <div class="patient__sex">
                            <select name="patient__sex" id="">
                                <option value="Male">Male</option>
                                <option value="Male">Female</option>
                            </select>
                        </div>
                        <div class="patient_fullname">
                            <div class="patient_first_name">
                                 <label for="first name" >FIRST NAME</label>
                            <input type="text" placeholder="first Name">
                            </div>
                            <div class="patient_last_name">
                                <label for="last name">LAST NAME</label>
                                <input type="text" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="patient_contact">
                            <label for="phone_number">Phone Number</label>
                            <input type="tel" name="phone_number" id="phone_contact">
                        </div>
                        <div class="patient_file_number">
                            <label for="patient_file_number">File Number</label>
                            <input type="text" name="file_number" id="file_contact">
                        </div>
                    </form>
                </div>
              </div>
              <div class="search__drug">
                 <input type="text" class="drug__search" placeholder="Search Drug">
                 <button class="new__prescription">New</button>
                 <ul class="drug__list no_display ">
                    <li class="drug__list_item">Risperdal 2mg</li>
                 </ul>
              </div>
            </div>
            <div class="display__total-Amount">
                <h1>4978</h1>
            </div>
          </div>
          <div class="display__drug__content-container">
             <div class="next__appointment__date">
              
              <input type="date" name="date" id="next__appointment">
              <p>Next Appointment in <span>___ days</span></p>
            </div>
            <div class="default__prescription">
            <div class="drug__content-heading">
                <div>
                    <h5>Dosage</h5>
                </div>
                <div>
                    <h5>Name</h5>
                </div>
                <div>
                    <h5>Strength</h5>
                </div>
                <div>
                    <h5>Quantity</h5>
                </div>
                <div>
                     <h5>Price</h5>
                </div>
              <div>
                <h5>Amount</h5>
              </div>  
              <div>
                <span></span>
              </div>           
            </div>
            <div class="drug__content-body">
              <ul class="drug__content-items  ">
                 <div class="empty__drug__cart remove">
                  <p> + Add a drug to the drug cart</p>
                 </div>
              </ul>
              <div class="validate__drug__container">
                <button class="validate__prescription">Validate</button>
                <div class="drug__cart">
                    <button class="move__backward"><</button>
                    <button class="hold__prescription">Hold</button>
                    <button class="move__forward">></button>
                </div>
            </div>
            </div>
            </div>
          <div class="interaction__container">
                <ul class="drug__interactions">
                    <li class="drug__interaction">
                        <p>There is no present drug interaction at this present time</p>
                    </li>
                </ul>   
          </div>
        </div>
      </div>
    </main>
    {{>footer}}
  </body>
   {{!-- <div class="search__render_tab">
                      <div class="search__render-item">
                        <p class="search__drug_drug-type">Tab</p>
                        <p class="search__drug_name">Risperdal</p>
                        <p class="search__drug_strength">2mg</p>
                        <p class="search__drug_pharmacy-unit">opd</p>
                        <p class="search__drug_location">uselu</p>
                      </div>
                    </div> --}}
</html>