<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharma App</title>
    <link rel="stylesheet" href="/css/shared/shared.css" />
    <link rel="stylesheet" href="/css/shared/log_shared.css" />
    <link rel="stylesheet" href="/css/inventory/requistion.css" /> 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script defer src="/client-side/styles/styles.js"></script>
    <script defer type="module" src="/client-side/user/user_shared.js"></script>
    {{! <script defer type="module" src="/client-side/user/delete_stock.js"></script> }}
  </head>
  <body>
    {{>log_header}}
    <main>
      <div class="backdrop"></div>

      <div class="container">
        <div class="profile__container container__item">
          <div class="user__display__info">
            <div class="dashboard__profile_display">
              <img src="/images/avatar.png" alt="" />
            </div>
            <div class="dashboard__user_details">
              <h4 class="user__profile-name">Ms Rukky </h4>
              <h4 class="user__profile-number">09056378903</h4>
            </div>
          </div>
          <div class="user__features">
            <div class="dashboard__features">
              <div class="dashboard__services">
                <div class="user__dashboard">
                  <a href="" class="user__dashboard-link nav-link">
                    Dashboard
                  </a>
                </div>
                <div class="user__profile">
                  <a
                    href="/pharma_app/admin/profile"
                    class="user__profile-link nav-link"
                  >
                    Profile
                  </a>
                </div>
                <div class="user__notification">
                  <a href="#" class="user__notification-link nav-link">
                    Notification
                  </a>
                </div>
                <div class="stock__inventory__features">
                  <a href="#" class="nav-link">Inventory Control </a>
                  <ul class="features__items">
                    <li class="features__item">
                      <a href="/pharma_app/admin/inventory_stock/add_stock">Add
                        to Drug Stock</a>
                    </li>
                    <li class="features__item">
                      <a
                        href="/pharma_app/admin/inventory_stock/edit_stock"
                      >Edit Drug Stock</a>
                    </li>
                    <li class="features__item">
                      <a href="/pharma_app/admin/inventory_stock/delete">Delete
                        From Drug Stock
                      </a>
                    </li>

                    <li class="features__item">
                      <a
                        href="/pharma_app/admin/inventory_stock/requistion"
                      >Make A Requistion</a>
                    </li>
                    <li class="features__item">
                      <a href="#">Drug Stock Inventory</a>
                    </li>
                    <li class="features__item">
                      <a href="#">Drug Stock Analysis</a>
                    </li>
                  </ul>
                </div>
                <div class="drug-services__features">
                  <a href="#" class="nav-link">Drug Services </a>
                  <ul class="features__items">
                    <li class="features__item">
                      <a href="#">Prescription Validation</a>
                    </li>
                    <li class="features__item">
                      <a href="#">Drug Counselling</a>
                    </li>
                    <li class="features__item">
                      <a href="#">Edit Drug Sales Report</a>
                    </li>
                    <li class="features__item">
                      <a href="#">Drug Analysis Report</a>
                    </li>
                    <li class="features__item">
                      <a href="#">Drug Visualization Report</a>
                    </li>
                  </ul>
                </div>
                <div class="patient-services__features">
                  <a href="#" class="nav-link">Patient Services</a>
                  <ul class="features__items">
                    <li class="features__item">
                      <a href="#">
                        Patient Analysis Report
                      </a>
                    </li>
                    <li class="features__item">
                      <a href="#">
                        Drug Therapy Problems Report
                      </a>
                    </li>
                    <li class="features__item">
                      <a href="#">Pharmacoviligance</a>
                    </li>
                    <li class="features__item">
                      <a href="#">
                        Patient Visualization Report
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="requistion__container">
          
        </div>
      </div>
    </main>
    {{>footer}}
  </body>
</html>