.container {
  justify-content: center;
}
.user__profile__page {
  width: 100%;
  height: 100%;
  background-color: #f7fdfe;
  overflow: auto;
}

.user__profile__page h3 {
  margin: 0.2rem auto;
  text-align: center;
}
.user__profile_img {
  display: grid;
  grid-template-rows: auto;
  place-items: center;
}
.label__input {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 35px;
}
.edit__form {
  height: 100%;
  width: 95%;
  padding: 1rem;
  display: grid;
  row-gap: 5px;
}

.edit__form img {
  width: 100px;
  height: 200px;
  vertical-align: middle;
  border-radius: 20px;
  border: 1px solid rgb(39, 153, 241);
}
.user__profile__fullname {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  place-items: center;
}
.edit__form label {
  text-transform: uppercase;
}
.edit__form select {
  width: 100%;
  outline: none;
}
.edit__form input {
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 0.5px solid #caf3fe;
}
#edit__save {
  width: 100%;
  height: 50%;
  cursor: pointer;
  color: #36ff58;
  border: none;
  border-radius: 5px;
  background-color: white;
}
#edit__save:hover {
  background-color: #36ff58;
  color: white;
}

@media (min-width: 40rem) {
  .container {
    height: 100%;
  }
  .user__profile__page {
    width: 65%;
    height: 100%;
  }
}
