.prescription__validation {
  height: 100%;
  width: 100%;
}
.search__container {
  display: flex;
  margin: 0.5rem 0 2rem 0;
  justify-content: center;
  position: relative;
}
.search__input {
  padding: 0.5rem;
  width: 70%;
  background-color: rgba(219, 219, 219, 0.557);
  outline: none;
  border: none;
  text-transform: capitalize;
  border-radius: 3px;
}
.search_render_tab {
  position: absolute;
  padding: 0.2rem;
  height: 500px;
  width: 100%;
  top: 110%;
  overflow: hidden;
  font-size: small;
  background-color: rgba(219, 219, 219, 0.557);
}
.render__container {
  overflow: auto;
}
.render_structure {
  display: grid;
  grid-template-columns: 1fr 100px 100px 100px;
  justify-items: start;
  column-gap: 10px;
  /* place-items: center; */
}
.render_list_headings {
  margin: 0.6rem 0;
  border-bottom: 1px solid #0274c0;
}
.render_list {
  height: 80%;
  overflow: auto;
}
.render_list::-webkit-scrollbar {
  width: 10px;
}
.remove_list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.render_list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.remove_list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.product_searched {
  background-color: white;
  padding: 1rem 0;
  margin: 0.2rem;
  cursor: pointer;
  border: 1px solid white;
}
.product_searched:active,
.product_searched:hover {
  border: 1px solid #1abcc4;
}
.product_structure {
  display: grid;
  grid-template-columns: 1fr 100px 60px 150px;
  place-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
  column-gap: 15px;
}
.product_headings {
  border-bottom: 1px solid black;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
}
.product_list {
  /* dont update affect the patient tab */
  height: 400px;
  overflow: auto;
}
.empty_list {
  margin: 0 0.5rem;
  padding: 1rem;
  text-transform: uppercase;
  background-color: rgba(219, 219, 219, 0.557);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}
.empty_list div {
  padding: 1rem;
}
.product_item {
  cursor: pointer;
  background-color: #dbdbdb8e;
  margin: 0.2rem 0.5rem;
  border: 0.2px solid #dbdbdb8e;
  font-size: small;
  font-weight: bold;
  padding: 1rem;
}
.product_item:hover {
  border: 0.2px solid #0274c0;
}
/* Interaction checker */
.interaction_checker {
  margin: 0.5rem 0;
  position: relative;
}
.interaction {
  height: 20px;
  width: 20px;
  clip-path: circle(46% at 50% 50%);
  cursor: pointer;
  text-align: center;
}
.interaction:hover ~ .check_info {
  display: block;
}
.interaction:checked {
  accent-color: #04fa04;
}
.check_info {
  position: absolute;
  top: 0;
  left: 10%;
  display: none;
  color: #0274c0;
}
.product_details {
  height: 12%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  font-variant: small-caps;
  margin: 0.5rem 0;
}
.product_detail_structure {
  display: flex;
}
.remove_product {
  background-color: white;
  outline: none;
  color: #ff1212;
  border: 0.2px solid white;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}
.remove_product:active,
.remove_product:hover {
  background-color: #ff1212;
  color: white;
}

.product_quantity {
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
  font-size: small;
  font-weight: bolder;
  background-color: transparent;
}
.quantity {
  display: flex;
  margin: 1rem 0.5rem;
  justify-content: flex-end;
  font-variant: small-caps;
  font-weight: bolder;
}
.quantity_title,
.expiry_title {
  margin-right: 5px;
}
.product_sales_information {
  border: 0.2px solid rgba(32, 32, 32, 0.557);
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  margin: 0.4rem;
  align-items: flex-end;
  justify-content: space-between;
  background-color: rgba(219, 219, 219, 0.557);
  font-variant: small-caps;
  font-weight: bold;
}
.product_sales_content {
  display: grid;
  grid-template-columns: 1fr 200px;
  justify-items: end;
}
.interaction_ctn {
  display: flex;
  margin: 0 0.5rem;
  justify-content: flex-end;
}
.interaction_ctn button {
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}
.send_sales {
  background-color: #1abcc4;
}
.hold_sales {
  background-color: #0274c0;
}
.send_sales:hover,
.send_sales:active {
  color: #1abcc4;
  background-color: white;
}
.hold_sales:hover,
.hold_sales:active {
  color: #0274c0;
  background-color: white;
}
/* patient container */
.patient_profile {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(32, 32, 32, 0.557);
  padding: 1rem;
  text-align: center;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.main_patient_profile {
  background-color: white;
  position: relative;
  padding: 20px;
  top: 5%;
}
.profile_title {
  margin: 0.5rem 0;
}
@media (min-width: 40rem) {
  .main_patient_profile {
    width: 70%;
  }
}
.search_render_ctn {
  margin: 0.3rem 0;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  place-items: center;
}
.remove_patient_profile {
  position: absolute;
  outline: none;
  border: none;
  background-color: transparent;
  top: 0%;
  right: 0%;
  padding: 10px;
  cursor: pointer;
}
.remove_patient_profile span {
  border: 1px solid #ff1212;
}
.patient_search {
  padding: 0.5rem;
  margin-top: 0.2rem;
  background-color: rgba(219, 219, 219, 0.557);
  outline: none;
  border: none;
  text-transform: capitalize;
  border-radius: 3px;
  width: 100%;
}
.patient_search:focus {
  border: 0.1px solid #0274c0;
}
.add_patient {
  margin: 0.5rem 0;
  padding: 0.5rem;
  outline: none;
  border: 0.1px solid white;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: #0274c0;
}
.add_patient_ctn {
  padding: 1rem;
  position: relative;
  background-color: rgba(219, 219, 219, 0.557);
  display: none;
}
.add_patient_ctn span {
  color: #ff1212;
}
.add_patient_title {
  margin: 1rem 0;
}
.min_ctn {
  display: grid;
  grid-template-rows: auto auto;
  column-gap: 10px;
}
@media (min-width: 40rem) {
  .min_ctn {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
  }
}
.remove_ctn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
}
.remove_ctn span {
  border: 1px solid #ff1212;
}
/* Patient Render Search */
.render_patient_searched {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.941);
  width: 75%;
  display: none;
  top: 90%;
}
.patient_list_headings {
  display: grid;
  grid-template-columns: 100px 100px;
  column-gap: 10px;
  padding: 1rem;
  border: 1px solid rgba(219, 219, 219, 0.557);
  font-weight: bold;
}

.patient_list {
  height: 200px;
  padding: 0 5px;
  background-color: rgba(219, 219, 219, 0.557);
  overflow: auto;
}
.searched_patient {
  display: grid;
  grid-template-columns: 100px 100px;
  column-gap: 10px;
  padding: 0.5rem;
  background-color: white;
  border: 0.2px solid #1abcc4;
  cursor: pointer;
  margin: 0.2rem 0;
}
.searched_patient:hover {
  border: 0.2px solid #0274c0;
}
@media (min-width: 40rem) {
  .patient_list_headings {
    grid-template-columns: auto auto;
  }
  .searched_patient {
    grid-template-columns: auto auto;
  }
}
.input_ctn {
  margin: 0.6rem 0;

  display: grid;
  grid-template-rows: auto;
  text-align: left;
}
.add_input {
  padding: 0.6rem;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 3px;
  text-transform: capitalize;
}
.add_input:focus {
  border: 0.1px solid #0274c0;
}
.patient_sex select {
  border: none;
  outline: none;
  height: 35px;
}

.patient_sex select:focus {
  border: 0.1px solid #0274c0;
}
.add_new_patient {
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  outline: none;
  border: 0.1px solid white;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: #0274c0;
}
.add_new_patient:active,
.add_new_patient:hover,
.add_patient:hover,
.add_patient:active {
  background-color: white;
  color: #0274c0;
  border: 0.1px solid #0274c0;
}
/* patient display */
/* button opening the ctn */
.patient_container,
.os_and_dtp_container {
  cursor: pointer;
  outline: none;
  position: relative;
}
.container_info {
  font-size: smaller;
  background-color: #0274c0;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  color: white;
  bottom: -180%;
  left: -10%;
  display: none;
}
.patient_container:hover .container_info {
  display: block;
}
.os_and_dtp_container:hover .container_info {
  display: block;
}
/*  */
.patient_display {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  justify-content: space-around;
  background-color: #1abcc4;
  color: white;
  position: relative;
}
.display_cancel_btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.display_cancel_btn:hover span {
  display: block;
}
.button_info {
  position: absolute;
  background-color: #0274c0;
  color: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
  font-size: smaller;

  bottom: -100%;
  display: none;
}
.cancel_stick {
  display: block;
  border: 1px solid white;
  margin: 0.2rem 0;
  width: 1rem;
}
.cancel_stick:nth-child(1) {
  transform: translate(0, 5px) rotate(45deg);
}
.cancel_stick:nth-child(2) {
  transform: rotate(135deg);
}
/* pricing system */
.pricing_system {
  display: flex;
  justify-content: space-around;
  font-size: smaller;
  font-weight: bold;
}
.pricing_unit input {
  cursor: pointer;
}
.sale_ctn {
  position: fixed;
  display: flex;
  z-index: 2;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-color: rgba(219, 219, 219, 0.557);
}
.patient_tab {
  width: 100%;
}
.sale_tab {
  height: 40%;
  width: 70%;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
@media (min-width: 40rem) {
  .sale_tab {
    width: 40%;
  }
}
.patient_detail {
  text-transform: uppercase;
}
.remove_sale_tab {
  padding: 10px;
  border: none;
  outline: none;
  position: absolute;
  right: 0%;
  top: 0%;
  background-color: #ff1212;
  cursor: pointer;
}
.sale_receipt {
  padding: 0.5rem;
  outline-color: #0274c0;
}
.save_tab {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.save_tab span {
  font-size: small;
  font-weight: bold;
}
.save_purchase {
  background-color: #0274c0;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
.save_purchase:hover,
.save_purchase:active {
  color: #0274c0;
  background-color: rgba(219, 219, 219, 0.557);
}
/* Hold Container */
.hold_container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(32, 32, 32, 0.557);
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove_list {
  border: none;
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
}
.prescription_list {
  width: 80%;
  height: 60%;
  background-color: white;
  text-align: center;
}
.remove_list {
  padding: 10px;
  cursor: pointer;
}
.main_list {
  height: 350px;
  padding: 10px;
  overflow: auto;
}
.hold_ctn_title {
  display: block;
  text-transform: uppercase;
  margin: 10px;
  text-decoration: underline;
}
.held_sale {
  display: grid;
  grid-template-columns: 1fr 100px;
  border-bottom: 1px solid black;
  padding: 10px;
  place-items: center;
  column-gap: 5px;
  text-transform: uppercase;
  font-size: small;
  cursor: pointer;
}
.held_sale:hover {
  background-color: #e4feff;
}
/* drug Interaction */
.drug_interaction_ctn {
  height: 250px;
  padding: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.557);
  box-shadow: 0 2px 3px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  margin: 0.5rem;
  cursor: pointer;
  position: relative;
}
.drug_interaction_ctn h5 {
  text-align: center;
  margin: 0;
}
.disclamier {
  font-size: smaller;
  color: #ff1212;
  height: 40px;
  overflow: auto;
  padding: 0.5rem;
}
.interactions {
  margin: 0.5rem 0;
  height: 165px;
  overflow: auto;
}
.interactions::-webkit-scrollbar {
  width: 10px;
}
.interactions::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.interactions::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.interactions::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.interaction_item {
  font-size: small;
  padding: 0.5rem;
  margin: 0.5rem;
}
.check_interaction {
  outline: none;
  border: none;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: #0274c0;
  color: white;
}
.check_interaction:hover,
.check_interaction:active {
  background-color: rgba(219, 219, 219, 0.557);
  color: #0274c0;
}
/* OS DTPS */
.os_dtps {
  position: absolute;
  z-index: 1;
  background-color: #e4e4e4;
  width: 90%;
  right: 5%;
  bottom: -10%;
  padding: 10px;
}
.sub_os_dtps {
  position: relative;
  padding: 30px;
}
.os_dtps_title {
  margin: 0.2rem 0;
  text-align: center;
}
.os_ctn {
  padding: 10px;
  border: 0.2px dashed #0274c0;
  display: grid;
}
.os_ctn_title {
  margin: 0;
  text-align: center;
  font-size: small;
}
.os_sub_ctn {
  display: grid;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  place-items: center;
}
#out_of_stock {
  padding: 0.5rem;
  outline: none;
  width: 80%;
  text-transform: capitalize;
}
.os_hint {
  font-size: small;
  margin-top: 10px;
}
.close_os_dtps {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
}
.close_os_dtps span {
  border: 1px solid #ff1212;
}
.submit_os_btn {
  margin-top: 1rem;
  width: 40%;
  padding: 5px;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid #0274c0;
  cursor: pointer;
  color: #0274c0;
}
.submit_os_btn:hover,
.submit_os_btn:active {
  background-color: #0274c0;
  color: white;
}

/* dtp ctn */
.dtps_ctn {
  padding: 10px;
  display: grid;
  row-gap: 10px;
  font-size: small;
  font-weight: bold;
  overflow: auto;
  text-align: center;
  margin-top: 1rem;
  border: 0.2px dashed #0274c0;
}
.dtps_ctn_title {
  margin: 0;
  font-size: small;
  font-weight: bold;
}
.dtps_ctn label {
  text-transform: uppercase;
  text-align: left;
}
.dtp_structure {
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 10px;
}
#dtp_patient_search {
  padding: 10px;
  outline: none;
  border: 0.2px solid #0274c0;
}
#dtp_selected {
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: 0.2px solid #0274c0;
}
#dtp_intervention {
  outline: none;
  border: 0.2px solid #0274c0;
  text-transform: uppercase;
}
.submit_dtp {
  padding: 10px;
  text-transform: uppercase;
  outline: none;
  border: 0.2px solid #0274c0;
  color: #0274c0;
  background-color: white;
  cursor: pointer;
}
.submit_dtp:hover,
.submit_dtp:active {
  color: white;
  background-color: #0274c0;
}
