.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
/* homepage features */
.dashboard__inputs {
  background-color: #f1f1f1;
  height: 82%;
  margin: 0.5rem;
  border: 0.2px solid #0274c0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.homepage__features {
  width: 100%;
  height: 100%;
}
.overview_container {
  height: auto;
}
.features__overview {
  margin: 0.7rem 0.4rem;
}
.user__display_name {
  text-align: right;
  margin: 0.2rem;
  padding-right: 0.5rem;
}

@media (min-width: 40rem) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  .features__container {
    width: 70%;
    min-height: 100%;
  }

  .user__features {
    height: 60%;
    padding: 1rem 0;
  }
}
/* for carousel */
.slide_structure {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}

#sales_slide_1 {
  background-image: url("../../images/dashboard__analysis1.jpg");
}
#sales_slide_2 {
  background-image: url("../../images/pharmacist.jpg");
}

#sales_slide_3 {
  background-image: url("../../images/counsellling.jpg");
}
/* controller buttons */
.control_btn {
  position: absolute;
  top: 45%;
  padding: 20px;
  border: 2px solid #cccccc;
  border-radius: 40%;
  opacity: 0.3;
}
.control_btn:hover {
  opacity: 1;
}

.arrow_element {
  width: 1.5rem;
  border: 1px solid #0274c0;
  margin: 5px;
  display: block;
}
.forward_btn {
  right: 2%;
}
.backward_btn {
  left: 2%;
}
.forward_btn > .arrow_element:nth-child(1) {
  transform: translate(0, -5px) rotate(45deg);
}
.forward_btn > .arrow_element:nth-child(2) {
  transform: translate(0, 5px) rotate(315deg);
}
.backward_btn > .arrow_element:nth-child(1) {
  transform: translate(0, -5px) rotate(315deg);
}
.backward_btn > .arrow_element:nth-child(2) {
  transform: translate(0, 5px) rotate(45deg);
}
