<div class="profile__container container__item">
  <div class="user__display__info">
    <div class="dashboard__profile_display">
      <img src="/images/avatar.png" alt="" />
    </div>
    <div class="dashboard__user_details">

      <h4 class="user__profile-name"></h4>
      <h4 class="user__profile-number"></h4>
    </div>
  </div>
  <div class="user__features">
    <div class="dashboard__features">
      <div class="dashboard__services">
        <div class="user__dashboard">
          <a href="/pharma_app/dashboard" class="user__dashboard-link nav-link">
            Dashboard
          </a>
        </div>
        <div class="user__profile">
          <a href="/pharma_app/profile" class="user__profile-link nav-link">
            Profile
          </a>
        </div>
        <div class="user__notification">
          <a href="#" class="user__notification-link nav-link">
            Notification
          </a>
        </div>
        <div class="stock__inventory__features">
          <a class="nav-link features-link">Inventory Control </a>
          <ul class="features__items">
            <li class="features__item">
              <a href="/pharma_app/add_stock">Add Product</a>
            </li>
            <li class="features__item">
              <a href="/pharma_app/edit_stock">Edit Product</a>
            </li>
            <li class="features__item">
              <a href="/pharma_app/delete_stock">Delete Product
              </a>
            </li>
            <li class="features__item">
              <a href="/pharma_app/requistion">Make A Requistion</a>
            </li>
            <li class="features__item">
              <a href="/pharma_app/product_inventory">Product Inventory</a>
            </li>
            <li class="features__item">
              <a href="#">Product Analysis</a>
            </li>
          </ul>
        </div>
        <div class="drug-services__features">
          <a class="nav-link features-link">Product Services </a>
          <ul class="features__items">
            <li class="features__item">
              <a href="/pharma_app/prescription_validation">Prescription
                Validation</a>
            </li>
            <li class="features__item">
              <a href="#">Product Counselling</a>
            </li>
            <li class="features__item">
              <a href="#">Edit Product Sales </a>
            </li>
            <li class="features__item">
              <a href="#">Product Sales Report</a>
            </li>
            <li class="features__item">
              <a href="#">Product Visualization Report</a>
            </li>
          </ul>
        </div>
        <div class="patient-services__features">
          <a class="nav-link features-link">Patient Services</a>
          <ul class="features__items">
            <li class="features__item">
              <a href="#">
                Patient Analysis Report
              </a>
            </li>
            <li class="features__item">
              <a href="#">
                Drug Therapy Problems Report
              </a>
            </li>
            <li class="features__item">
              <a href="#">Pharmacoviligance</a>
            </li>
            <li class="features__item">
              <a href="#">
                Patient Visualization Report
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>